<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Microlecture</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CourseVideoServlet</display-name>
    <servlet-name>CourseVideoServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.CourseVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseVideoServlet</servlet-name>
    <url-pattern>/CourseVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CourseRevelanceServlet</display-name>
    <servlet-name>CourseRevelanceServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.CourseRevevanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseRevelanceServlet</servlet-name>
    <url-pattern>/CourseRevelanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CourseSourseServlet</display-name>
    <servlet-name>CourseSourseServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.CourseSourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSourseServlet</servlet-name>
    <url-pattern>/CourseSourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ErrorRateServlet</display-name>
    <servlet-name>ErrorRateServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.ErrorRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorRateServlet</servlet-name>
    <url-pattern>/ErrorRateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ExamNotifyServlet</display-name>
    <servlet-name>ExamNotifyServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.ExamNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamNotifyServlet</servlet-name>
    <url-pattern>/ExamNotifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PublishPostServlet</display-name>
    <servlet-name>PublishPostServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.PublishPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishPostServlet</servlet-name>
    <url-pattern>/PublishPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReplyPostServlet</display-name>
    <servlet-name>ReplyPostServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.ReplyPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyPostServlet</servlet-name>
    <url-pattern>/ReplyPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SubmitTestServlet</display-name>
    <servlet-name>SubmitTestServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.SubmitTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTestServlet</servlet-name>
    <url-pattern>/SubmitTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TastNotifyServlet</display-name>
    <servlet-name>TastNotifyServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.TastNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TastNotifyServlet</servlet-name>
    <url-pattern>/TastNotifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VideoChapterServlet</display-name>
    <servlet-name>VideoChapterServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.VideoChapterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoChapterServlet</servlet-name>
    <url-pattern>/VideoChapterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VideoDiscussServlet</display-name>
    <servlet-name>VideoDiscussServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.VideoDiscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoDiscussServlet</servlet-name>
    <url-pattern>/VideoDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VideoInfoServlet</display-name>
    <servlet-name>VideoInfoServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.VideoInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoInfoServlet</servlet-name>
    <url-pattern>/VideoInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VideoRevelanceServlet</display-name>
    <servlet-name>VideoRevelanceServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.VideoRevelanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoRevelanceServlet</servlet-name>
    <url-pattern>/VideoRevelanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VideoTestServlet</display-name>
    <servlet-name>VideoTestServlet</servlet-name>
    <servlet-class>com.microlecture.servlet.VideoTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoTestServlet</servlet-name>
    <url-pattern>/VideoTestServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
   <filter-name>CharacterEncodingFilter</filter-name>
   <filter-class>com.microlecture.manager.CharacterEncodingFilter</filter-class>
   <init-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
   </init-param>
 </filter>
  <filter-mapping>
   <filter-name>CharacterEncodingFilter</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>